/* @author Charles Liu */

.container {
  width: 150px;
  height: 45px;
  margin: 5px 5px;
  border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container > * {
  transform: translateY(40%);
  font-size: smaller;
}

.link:hover {
  text-decoration: none;
}

.purpleWhite,
.whitePurple {
  transition: 100ms ease-in;
}

.purpleWhite:hover,
.whitePurple:hover {
  transform: translateY(-3%);
}

.purpleWhite {
  background-color: #55679b;
  color: white;
  box-shadow: 1px 2px 4px #95a9ef;
}

.purpleWhite:hover {
  background-color: #45527a;
}

.whitePurple {
  background-color: white;
  color: #55679b;
  box-shadow: 3px 3px 4px rgb(196, 196, 196);
}

.whitePurple:hover {
  background-color: #efefef;
}
