/* @author Charles Liu */

.authorContainer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.avatar {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 20%;
  height: 0px;
  padding-bottom: 20%;
  margin-right: 15px;
}

.authorMeta > p {
  margin: 0;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.shareButton {
  width: 32px;
  margin-left: 10px;
}

.shareButton:hover:not(:active) {
  opacity: 0.75;
}
