body {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 70px;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
