html {
  scroll-padding: 1rem 0 0 0;
  scroll-behavior: smooth;
}

body {
  /* padding-left: 8%;
  padding-right: 8%; */
  /* Use Bootstrap:Container for side padding */
  padding-top: 65px;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 576px) {
  body {
    padding-top: 40px;
  }
}
