.container {
  height: 100%;
  width: 100%;
  padding: 0px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  /* overflow: hidden; */
}

.imageContainer {
  position: relative;
  transition: opacity 0.15s ease-in-out;
}

.imageContainer:hover {
  opacity: 0.5;
}
