#imageHolder {
  background: linear-gradient(rgba(149, 169, 239, 0.5), rgba(85, 103, 155, 0.2)),
    url('/images/jumbotron.jpg');
  background-size: cover;
  background-position: center;
}

.Text {
  text-align: center;
  padding: 1.2rem 0;
  font-weight: bold;
  color: white;
}

@media (max-width: 576px) {
  .Text {
    font-size: 25px;
  }
}
