.Brand {
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.Brand:hover {
  color: #444;
  text-decoration: none;
}

nav.navbar {
  padding-left: 8%;
  padding-right: 8%;
}

@media (max-width: 576px) {
  nav.navbar {
    padding-left: 2%;
    padding-right: 2%;
  }

  .Brand {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .Brand {
    font-size: 0.8rem;
  }
}