.TitleStart,
.TitleMiddle {
  font-weight: bold;
  position: relative;
  width: fit-content;
  margin: 25px 0px;
  text-align: center;
}

.TitleStart::after,
.TitleMiddle::after {
  content: '';
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -10px;
  border-radius: 10px;
  background-color: rgb(149, 169, 239);
}

.TitleStart::after {
  left: 0;
}

.TitleMiddle::after {
  left: calc(50% - 50px);
}

@media (max-width: 1200px) {
  .TitleStart::after {
    left: calc(50% - 50px);
  }
}
