.TitleStart,
.TitleMiddle {
  font-weight: bold;
  position: relative;
  width: fit-content;
  margin: 25px 0px;
}

.TitleStart::after,
.TitleMiddle::after {
  content: '';
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -10px;
  border-radius: 10px;
  background-color: steelblue;
}

.TitleStart::after {
  left: 0;
}

.TitleMiddle::after {
  left: calc(50% - 50px);
}
