/* @author Charles Liu */

.container {
  padding: 0px 50px 50px 50px;
}

.row {
  display: flex;
  justify-content: center;
  text-align: center;
}

.recogniationRow {
  display: flex;
  justify-content: center;
}